<h1 class="text-center">Eat Da Burger</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <ul>
                {{#each burgers}}
                <li>
                    {{burger_name}}
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
</div>

